@use "../../scss/" as *;

.error__border {
    border: 1px solid red;
    border-color: red;
}

.input__border {
    border-color: #ccd0d5;
    border: 1px solid #ccd0d5;
}

.register {
    background-color: $body-bg;
}

.logo {
    padding-top: 5px;
    text-align: center;
}

.logo > img {
    height: 100px;
}

.register_container {
    padding-top: 5px;
}

.sector {
    margin: 0 auto 30px auto;
    padding: 0 20px 0 0;
    width: 400px;
}

.first__block {
    background-color: $white;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 10px 16px;
    position: relative;
    width: 432px;
    z-index: 1;
}

.block_header {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #1c1e21;
    font-weight: 600;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

.block_p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #606770;
}

.second__sector {
    margin: 0 auto 0 auto;
    padding-bottom: 30px;
}

.second__block {
    background-color: $white;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid $border-color;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
    width: 432px;
}

.second__block::before {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background: transparent;
    border-radius: 8px;
    bottom: 0;
    left: 0;
    content: ""; 
    position: absolute;   
    right: 0;
    top: -77px;
    width: 432px;
    z-index: 0;
}

.reg {
    margin: 0;
    padding: 0;
}

.names {
    width: 399px;
}

.first {
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
    position: relative;
}

.rel {
    position: relative;
}

.first__name {
    width: 194px;
    background: $white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.first__placeholder {
    color: #8d949e;
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    cursor: text;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.first__input {
    width: 170px;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    border-color: #ccd0d5;
    border-radius: 5px;
    margin: 0;
    background-color: transparent;
    position: relative;
    border: 1px solid #ccd0d5;
}

.red_sign {
    display: inline;
    left: auto;
    right: 9px;
    top: 10px;
    transform: scale(.76);
    background-position: 0 0;
    position: absolute;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/EV7ny501e-i.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 21px;
    width: 21px;
}

.second {
    float: right;
    margin-bottom: 10px;
    position: relative;
}

.last__name{
    width: 194px;
    background: $white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.last__placeholder {
    color: #8d949e;
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    cursor: text;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.last__input {
    width: 170px;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    border-color: #ccd0d5;
    border-radius: 5px;
    margin: 0;
    background-color: transparent;
    position: relative;
    border: 1px solid #ccd0d5;
}

.third{
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

.email__phone {
    width: 399px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.email__placeholder {
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    white-space: nowrap;
}

.email__input {
    width: 375px;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    border-radius: 5px;
    border-color: #ccd0d5;
    margin: 0;
    background-color: transparent;
    position: relative;
    border: 1px solid #ccd0d5;
}

.forth {
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

.password {
    display: inline-block;
    position: relative;
    background: $white;
    border-radius: 5px;
    width: 399px;
}

.password__placeholder {
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    cursor: text;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.password__input {
    font-size: 15px;
    line-height: 16px;
    padding: 11px;
    border-color: #ccd0d5;
    width: 375px;
    border-radius: 5px;
    margin: 0;
    background: transparent;
    position: relative;
    border: 1px solid #ccd0d5;
}

.birthday_wrapper {
    position: relative;
}

.birthday {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 2px;
    color: #606770;
}

.birthday_dates {
    position: relative;
}

.dates {
    display: inline-block;
}

#month {
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 125px;
    background-color: $white;
    border: 1px solid #ccd0d5;
    padding: 0 8px;
}

#day {
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 125px;
    background-color: $white;
    border: 1px solid #ccd0d5;
    padding: 0 8px;
    margin-left: 12px;
}

#year {
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 125px;
    background-color: #fff;
    border: 1px solid #ccd0d5;
    padding: 0 8px;
    margin-left: 12px;
}

.gender_wrapper {
    margin-top: 10px;
    position: relative;
}

.gender{
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 2px;
    color: #606770;
}

.genders {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -6px -6px;
    width: 411px;
}

.gender_choice {
    background-color: $white;
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
    display: inline-block;
    flex: 1 o auto;
    font-weight: normal;
    height: 36px;
    margin: 8px 6px 6px;
    padding: 0;
    position: relative;
    width: auto;
    border-radius: 4px;
}

.gender_label {
    box-sizing: border-box;
    color: #1c1e21;
    display: inline-block;
    font-size: 15px;
    line-height: 36px;
    padding: 0 28px 0 10px;
    width: 100%;
    font-weight: normal;
    cursor: default;
    vertical-align: middle;
}

.gender_input {
    height: 36px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
    background-color: $white;
    color: #1c1e21;
    font-weight: normal;
}

.terms {
    width: 399px;
    font-size: 12px;
}

.terms_text {
    width: auto;
    color: #777;
    font-size: 11px;
    margin: 1em 0;
}

.terms_links {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-size: 11px;
}

.reg_area {
    text-align: center;
}

.reg_button {
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: $white;
    font-size: 18px;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    line-height: 126%;
    font-weight: bold;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 194px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0;
}

.reg_button:hover {
    background-color: #119F16;
    color: #EAECEF;
}

.reg_button::after {
    content: '';
    display: inline-block;
    height: 36px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.login_area {
    padding: 10px 0;
    position: relative;
    text-align: center;
    font-size: 12px;
}

.login_link {
    color: #1877f2;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.first_error {
    width: 489px;
    right: 877px;
    top: 207px;
    opacity: 1;
    height: 0;
    position: absolute;
    z-index: 202;
    outline: none;
}

.first_error_block {
    right: 0px;
    position: absolute;
    font-family: inherit;
}

.error_first_name {
    padding-right: 18px;
    padding-bottom: 18px;
}

.error_first_msg {
    top: 0px;
    background-color: #be4b49;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
    position: relative;
    font-size: 13px;
    max-width: 300px;
    padding: 13px;
}

.error_first_arrow {
    top: 0%;
    margin-top: 12px;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/Dh12pRWgFpd.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -36px;
    height: 22px;
    right: 7px;
    width: 11px;
    overflow: hidden;
    position: absolute;
}

.second_error {
    width: 672px;
    left: 694px;
    top: 251px;
    opacity: 1;
    height: 0;
    position: absolute;
    z-index: 202;
    outline: none;
}

.second_error_block {
    position: absolute;
}

.error_last_name {
    padding-top: 18px;
    padding-bottom: 18px;
}

.error_last_msg {
    background-color: #be4b49;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: $white;
    position: relative;
    font-size: 13px;
    max-width: 300px;
    padding: 13px;
}

.error_last_arrow {
    left: 0%;
    margin-left: 12px;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/Dh12pRWgFpd.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -59px;
    height: 11px;
    top: 7px;
    width: 22px;
    overflow: hidden;
    position: absolute;
}