@use "./scss/" as *;

* {
    outline: 0;
}

html {
    overflow-y: scroll !important;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #1c1e21;
    line-height: 1.34;
    font-size: 12px;
    direction: ltr;
    margin: 0;
    padding: 0;
}

form {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

label {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}