@use "../../scss/" as *;

.login {
    background-color: $body-bg;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.login__logo {
    margin: -44px 0 -4px 0;
    width: 240px;
    border: 0;
    text-align: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    /* height: 312px; */
    margin: auto;
    width: 396px;
    background-color: $white;
    text-align: center;
}

.login__container > h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.login__container > form > .center > input {
    margin-bottom: 10px;
    background-color: $white;
    width: 330px;
    border: 0.5px solid $border-color;
    border-radius: 5px;
    outline: none;
    padding: 14px 16px;
    border: 1px solid $border-color;
    color: #1d2129;
    line-height: 16px;
    font-size: 17px;
    vertical-align: middle;
}

.error {
    color: #f02849;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
    text-align: center;
}

// input::placeholder {
//     color: gray;
//     font-size: 17px;
//     font-weight:300;
// }

.login__container > form > .center > input::placeholder {
    color: gray;
    font-size: 17px;
    font-weight: 300;
}

.login__submit {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    font-weight: bold;
    justify-content: center;
    background-color: $facebook-blue;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    color: $white;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.login__submit:hover {
    background-color: $facebook-blue-dark;
}

.center {
    margin: auto;
    padding: auto;
    text-align: center;
}

.sideinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 0 18px; */
    font-size: 14px;
}

.sideinfo > h5 {
    color: $facebook-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
}

.rtd {
    color: $facebook-blue !important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
}

.sideinfo Link,
.sideinfo Link h5 {
    text-decoration: none;
}

.dot {
    margin-left: 5px;
    margin-right: 5px;
    color: #90949c;
    font-size: 12px;
    text-align: center;
}

.sideinfo h5:hover {
    text-decoration: underline;
}
